* {
  padding: 0;
  margin: 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding-bottom: 10px;
}

li {
  list-style-type: none;
}

:root {
  --color-main: #f6f5f2;
  --color-sec: #ffefef;
  --color-acc: #f3d0d7;
  --color-dark-text: rgb(53, 53, 53);
  --color-normal-text: rgb(70, 70, 70);
}

.header {
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 15% 5px 15%;
}

button {
  padding: 15px 25px;
  border: 2px solid #6c3340;
  color: white;
  background-color: #6c3340;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #6c3340;
  border: 2px solid #6c3340;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.307);
}
button:active {
  background-color: #9b4a5d;
  color: white;
  border: 2px solid white;
  box-shadow: none;
}

.books {
  background-color: var(--color-main);
  border-radius: 20px;
  height: 88%;
  width: 80%;
  margin: auto;
  padding: 30px 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  align-items: stretch;
  gap: 10px;
  overflow-y: auto;
  z-index: 5;
}

.card {
  padding: 40px 20px 40px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 280px;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: first baseline;
  background-color: white;
  border: 2px solid var(--color-acc);
  border-radius: 10px;
  font-size: 1.125rem;
}

.card > div {
  display: flex;
  padding-top: 30px;
  gap: 10px;
}

.card button {
  padding: 5px 8px;
  font-size: 0.9rem;
  border-color: var(--color-acc);
  border-radius: 10px;
  border-width: 2px;
  color: var(--color-dark-text);
  background-color: var(--color-main);
}

.data-label {
  color: var(--color-normal-text);
}

.data {
  color: var(--color-dark-text);
  font-weight: bold;
}

.add-dailogue {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.408);
  display: flex;
  display: none;
  z-index: 10;
}

.add-dailogue > form {
  margin: auto;
  opacity: 1;
  position: relative;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 40vw;
  padding: 50px 0;
  border-radius: 20px;
  background-color: white;
}

label {
  display: block;
  color: var(--color-normal-text);
  font-size: 1rem;
}

label[for="read"] {
  display: inline;
}

input {
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
  border: 2px solid rgb(189, 189, 189);
  outline: none;
  width: 300px;
}

input:focus {
  border: 2px solid var(--color-acc);
}

input[type="checkbox"] {
  width: auto;
  margin-left: 10px;
  margin-top: 10px;
  transform: scale(1.5);
  margin: 10px;
}

#submit {
  padding: 10px 20px;
  margin-top: 10px;
}
